<%= tinymce %>
<%= form_for(@message, :html => {:multipart => true}) do |f| %>
    <div class="row col-lg-12">
      <div class="new_message">
        <div class="message_to">
          <%= f.text_field :to, :class => "form-control requires", :placeholder => 'example@gmail.com', :required => true %>
        </div>

        <div class="message_subject">
          <%= f.text_field :subject, :class => "form-control", :placeholder => 'Subject ...', :required => true %>
        </div>

        <div class="message_body">
          <%= f.text_area :body, :class => "tinymce", :placeholder => 'Body message ...' %>
        </div>
        <%#= f.fields_for :message_attachments do |m| %>
            <div class="message_attachments">
              <div class="message_attachment">
                <%#= f.file_field :file, :multiple => true, name: "message_attachments[file][]", class: 'jfilestyle', "data-buttonText" => "<i class='fa fa-paperclip' aria-hidden='true'></i>" %>
                <input type="file" class="jfilestyle" data-buttonText="<i class='fa fa-paperclip' aria-hidden='true'></i>">
              </div>
            </div>
        <%# end %>
        <div class="message_send">
          <%= f.submit 'Send', :class => "btn btn-info" %>
        </div>
      </div>
    </div>
<% end %>
