<div id="email-sidebar">
  <!-- Start #email-sidebar -->
  <div class="p15">
    <%= button_to "Compose", new_message_path, id: 'write-email', :class => "btn btn-danger btn-block uppercase", :method => :get %>
    <!--<a id="write-email" href="email-write.html" class="btn btn-danger btn-block uppercase">compose</a>-->
  </div>
  <ul id="email-nav" class="nav nav-pills nav-stacked">
    <li>
      <%= link_to inbox_path, :title => 'Index' do %>
          <i class="glyphicon glyphicon-inbox"></i>
          Inbox
          <span class="label label-primary"><%= @inbox_messages %></span>
      <% end %>
    </li>
    <li>
      <%= link_to starred_path, :title => 'Starred' do %>
          <i class="glyphicon glyphicon-star"></i>
          Starred
          <span class="label label-warning"><%= @starred_messages %></span>
      <% end %>
    </li>
    <li>
      <%= link_to important_path, :title => 'Important' do %>
          <i class="glyphicon glyphicon-info-sign"></i>
          Important
          <span class="label label-danger"><%= @important_messages %></span>
      <% end %>
    </li>
    <li>
      <%= link_to write_emails_path, :title => 'Send' do %>
          <i class="glyphicon glyphicon-send"></i>
          Send
          <span class="label label-success"><%= @write_messages %></span>
      <% end %>
    </li>
    <li>
      <%= link_to '#', :title => 'Drafts' do %>
          <i class="glyphicon glyphicon-pencil"></i>
          Drafts
          <span class="label label-info">-</span>
      <% end %>
    </li>
    <li>
      <%= link_to trash_path, :title => 'Trash' do %>
          <i class="glyphicon glyphicon-trash"></i>
          Trash
          <span class="label label-danger"><%= @trash_messages %></span>
      <% end %>
    </li>
    <li class="nav-header">Labels</li>
    <li><a href="#"><span class="circle"></span> Work</a>
    </li>
    <li><a href="#"><span class="circle color-red"></span> Private</a>
    </li>
    <li><a href="#"><span class="circle color-green"></span> Travel</a>
    </li>
    <li><a href="#"><span class="circle color-blue"></span> Promotions</a>
    </li>
    <li><a href="#"><span class="circle color-yellow"></span> Updates</a>
    </li>
  </ul>
</div>