<div class="page-content-wrapper row pg_top">
  <div class="container">
    <h2 class="row"><%= @config_emails.username %></h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <!--<th colspan="1"></th>-->
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% @messages.each do |message| %>
          <tr>
            <td>
              <%= link_to show_message_read_path(:id => message.id) do %>
                <table>
                  <tr>
                    <td><%= message.from %></td>
                    <td><%= message.subject %></td>
                    <td><%= message.date %></td>
                  </tr>
                </table>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
