<div class="page-content-wrapper row pg_top">
  <div class="container">
    <div class="inbox">
      <%= render 'site_bar' %>
      <div class="right_block">
        <%= render 'header_buttons' %>
        <div class="show_message">
          <p class="from_message">From: <%= @message.from %></p>

          <h3 class="subject_message"><%= @message.subject %></h3>

          <div class="message_body"><%= render html: @message.body.html_safe %></div>
          <% unless @message.message_attachments.blank? %>
              <p class="message_attachments_count"><%= @message.message_attachments.count %> Attachments</p>
              <div class="message_attachments">
                <% @message.message_attachments.each do |message_attachment| %>
                    <div class="message_attachment">
                      <%= image_tag(message_attachment.file, :alt => "img", class: 'message_attachment_img') %>
                      <p class="message_attachment_download"><%= link_to('download', "#{message_attachment.file}", :download => message_attachment.file) %></p>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
        <div class="form_for_replay_to">
          <%#= render :partial => "form_reply_to", :locals => {:message => Message.new, :message_id => @message.id} %>
        </div>
      </div>
    </div>
  </div>
</div>