<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', ".link_star", function () {
            var this_start = $(this);
            var message_id = $(this).attr('data-message-id');
            $.ajax({
                type: 'PUT',
                dataType: 'JSON',
                url: '<%= edit_starred_path %>',
                data: {"id": message_id},
                success: function (data) {
                    if (this_start.find('.fa').hasClass("fa-star")) {
                        this_start.children('.fa').removeClass("fa-star starred_true");
                        this_start.children('.fa').addClass("fa-star-o starred_false");
                    } else {
                        this_start.children('.fa').removeClass("fa-star-o starred_false");
                        this_start.children('.fa').addClass("fa-star starred_true");
                    }
                }
            });
        });

        $(document).on('click', ".link_important", function () {
            var this_start = $(this);
            var message_id = $(this).attr('data-message-id');
            $.ajax({
                type: 'PUT',
                dataType: 'JSON',
                url: '<%= edit_important_path %>',
                data: {"id": message_id},
                success: function (data) {
                    if (this_start.find('.fa').hasClass("important_true")) {
                        this_start.children('.fa').removeClass("important_true");
                        this_start.children('.fa').addClass("important_false");
                    } else {
                        this_start.children('.fa').removeClass("important_false");
                        this_start.children('.fa').addClass("important_true");
                    }
                }
            });
        });
    });

</script>

<!-- .page-content -->
<div class="page-content sidebar-page right-sidebar-page clearfix">
  <!-- .page-content-wrapper -->
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Read email</h2>
          <span class="txt">simple read email view</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <div id="email-app-wrapper">
        <!-- Start #email-app-wrapper -->
        <%= render 'site_bar' %>
        <!--End #email-sidebar -->
        <div id="email-content">
          <!-- Start #email-content -->
          <div class="email-wrapper">
            <div class="panel panel-default plain mb0 bshadowNone brad0 bl br bb bt checkall">
              <!-- Start .panel -->
              <div class="panel-body p0">
                <%= render 'site_bar_back_inbox' %>
                <div class="email-read col-lg-12">
                  <div class="email-read-header">
                    <%= image_tag "avatars/128.jpg", alt: 'avatar', class: 'email-read-avatar' %>
                    <h2 class="email-read-name"></h2>
                    <span class="sender-email"><%= @message.from %></span>
                  </div>
                  <div class="email-read-title">
                    <h3><%= @message.subject %></h3>
                    <span class="email-read-date text-muted"><%= @message.date.strftime('%d %b' ' @ ' '%H:%M') %></span>
                  </div>
                  <div class="email-read-text">
                      <pre>
                        <%= render html: @message.body.html_safe %>
                      </pre>
                  </div>
                  <div class="email-read-attachment">
                    <% unless @message.message_attachments.blank? %>
                        <p class="mb15"><%= @message.message_attachments.count %> attachments
                          <%= link_to('#', title: 'Download all') do %>
                              <i class="fa fa-cloud-download s16"></i>
                          <% end %>
                          <a href="#" class="ml15 tip" title="Download all"></a>
                        </p>
                        <div class="row">
                          <% @message.message_attachments.each do |message_attachment| %>
                              <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                  <%= image_tag(message_attachment.file, :alt => "attachment image", class: 'img-responsive') %>
                                </a>
                              </div>
                              <!--<div class="message_attachment">-->
                                <!--<p class="message_attachment_download"><%#= link_to('download', "#{message_attachment.file}", :download => message_attachment.file) %></p>-->
                              <!--</div>-->
                          <% end %>
                        </div>
                    <% end %>
                  </div>
                  <div class="email-read-reply">
                    <%= render :partial => "form_reply_to", :locals => {:message => Message.new(), :message_obj => @message} %>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .panel -->
          </div>
          <!--End .email-wrapper -->
        </div>
        <!--End #email-content -->
      </div>
      <!-- End #email-app-wrapper -->
    </div>
    <!-- End .page-content-inner -->
  </div>
  <!-- / page-content-wrapper -->
</div>
<!-- / page-content -->
