<!DOCTYPE html>
<html class="no-js admin">
<head>
  <title>Dashboard | Dynamic Admin Template</title>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= render partial: 'spree/admin/shared/head' %>
</head>
<body>

<div id="wrapper">
  <!-- .page-sidebar -->
  <%= render "layouts/left_side_bar" %>
  <!-- / page-sidebar -->
  <!-- Start #right-sidebar -->
  <%= render "layouts/right_side_bar" %>
  <div id="error-msg">
    <% if flash.present? %>
        <%= render 'layouts/messages' %>
    <% end %>
  </div>
  <%= render "layouts/header" %>
  <div class="<%= content_for?(:sidebar) ? 'with-sidebar col-md-10 col-sm-8' : 'col-sm-12' %>" id="content" data-hook>


    <div class="page-content sidebar-page right-sidebar-page clearfix">
      <!-- .page-content-wrapper -->
      <div class="page-content-wrapper">
        <div class="page-content-inner">
          <%#= render partial: 'spree/admin/shared/table_filter' if content_for?(:table_filter)%>
          <%= render partial: 'spree/admin/shared/content_header' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%#= render "layouts/footer" %>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
</div>
</body>
</html>
