<%= form_for @config_email do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
          <!-- Start .panel -->
          <div class="panel-heading">
            <h4 class="panel-title">EMAIL CONFIG INFORMATION</h4>

            <div class="panel-controls panel-controls-right">
              <a class="panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
              <a class="toggle panel-minimize" href="#"><i class="fa fa-angle-up"></i></a>
              <a class="panel-close" href="#"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body pt0 pb0">
            <div class="form-horizontal group-border stripped" id="validate">
              <div class="form-group">
                <%= f.label :username, 'EMAIL ADDRESS', :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :username, :class => "form-control requires", :placeholder => 'example@gmail.com', :required => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :server_name, 'POP/IMAP', :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.radio_button(:server_name, "POP") %>
                  <%= f.label(:server_name, "POP Server") %>
                  <%= f.radio_button(:server_name, "IMAP") %>
                  <%= f.label(:server_name, "IMAP Server") %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :server_email, 'SERVER', :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :server_email, :class => "form-control requires", :placeholder => 'pop.1and1.com', :required => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :port, 'PORT', :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :port, :class => "form-control requires", :placeholder => '110', :required => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_encrypted, 'PASSWORD FOR EMAIL', :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.password_field :password_encrypted, :class => "form-control", :placeholder => 'Password', :required => true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 m-b-lg">
        <%= f.submit 'SAVE', :class => "btn btn-info" %>
      </div>
    </div>
<% end %>