<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="headline text-center">
        A HiGHLY CURATED HOME FURNISHING and DESIGN site
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 m-t-lg m-b-lg">
      <div class="signup-header">
        <div class="line"></div>
        <ul class="menu-left">
          <li><a href="#">Custom Service</a></li>
          <li class="seprator"></li>
          <li><a href="#">Our Story</a></li>
          <li class="seprator"></li>
          <li><a href="#">Register</a></li>
          <li class="seprator"></li>
          <li><a href="#">My Account</a></li>
        </ul>

        <ul class="menu-right">
          <li><a href="#">Avant</a></li>
          <li class="seprator"></li>
          <li><a href="#">Very Personal Decorator</a></li>
          <li class="seprator"></li>
          <li><a href="#">Factory</a></li>
          <li class="seprator"></li>
          <li><a href="#">Curate</a></li>
        </ul>
        <div class="signup-logo">
          <img src="/assets/signup-logo.png" class="" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 m-t-lg m-b-lg">
      <div class="b-t-md">
        <div class="col-xs-10 col-xs-offset-1 bold-title">
          <h4 class="text-center">BECOME A VENDOR</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      Tandem Arbor is an independent lifestyle e-commerce site for highly curated home furnishings and designs catering to the higher end luxury market. Focused on true mid to high end products with engaging content from in—house designers across multiple product categories. Tandem Arbor is a one-stop shop for all home decor with a focused niche on providing superb customer service. Tandem Arbor is constantly exploring the developmnent of high-end sub-brands and exclusive arrangements with premier vendors, to further penetrate the luxury market.
    </div>
    <div class="col-xs-12 m-t-lg m-b-lg">
      <div class="b-t-md">
        <div class="col-xs-10 col-xs-offset-1 bold-title">
          <h4 class="text-center">VENDOR APPLICATION</h4>
        </div>
      </div>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
          <!-- Start .panel -->
          <div class="panel-heading">
            <h4 class="panel-title">BUSINESS INFORMATION</h4>
            <div class="panel-controls panel-controls-right">
              <a class="panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
              <a class="toggle panel-minimize" href="#"><i class="fa fa-angle-up"></i></a>
              <a class="panel-close" href="#"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body pt0 pb0">
            <%= devise_error_messages! %>
            <div class="form-horizontal group-border stripped" id="validate">
              <div class="form-group">
                <%= f.label :vendor_name, "BUSSSINESS/VENDOR NAME", :class => "col-lg-2 col-md-3 control-label"  %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :vendor_name, :class => "form-control requires", :required => true %>
                </div>
              </div>
                
              <div class="form-group">
                <%= f.label :first_name, "FIRST NAME", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :first_name, :class => "form-control", :required => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :last_name, "LAST NAME", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :last_name, :class => "form-control", :required => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :phone_number, "PHONE NUMBER", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :phone_number, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email, "EMAIL ADDRESS", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.email_field :email, :class => "form-control", :required => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :business_address, "BUSINESS ADDRESS", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :business_address, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :city, "CITY", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-4 col-md-9">
                  <%= f.text_field :city, :class => "form-control" %>
                </div>
                <%= f.label :state, "STATE", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-4 col-md-9">
                  <%= f.text_field :state, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :zipcode, "ZIP CODE", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-4 col-md-9">
                  <%= f.text_field :zipcode, :class => "form-control" %>
                </div>
                <%= f.label :country, "COUNTRY", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-4 col-md-9">
                  <%= f.text_field :country, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :web_site_url, "WEBSITE ADDRESS", :class => "col-lg-2 col-md-3 control-label" %>
                <div class="col-lg-10 col-md-9">
                  <%= f.text_field :web_site_url, :class => "form-control" %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-xs-12 control-label">CHECK THE OPTION THAT BEST DESCRIBE YOUR COMPANY : </label>
                <% Company.order(:title).each do |company_type| %>
                <div class="col-lg-3 col-md-6">
                  <div class="checkbox-custom">
                    <%= check_box_tag "vendor[company_ids][]", company_type.id, nil ,:id => "cmt_#{company_type.id}" %>
                    <label for="cmt_<%= company_type.id %>"><%= company_type.title.upcase %></label>
                  </div>
                </div>
                <% end %>
              </div>                
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
          <div class="panel-heading">
            <h4 class="panel-title">BUSINESS INFORMATION</h4>
            <div class="panel-controls panel-controls-right">
              <a class="panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
              <a class="toggle panel-minimize" href="#"><i class="fa fa-angle-up"></i></a>
              <a class="panel-close" href="#"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body pt0 pb0">
            <div class="form-horizontal group-border stripped">
              
              <div class="form-group">
                <label class="col-xs-12 control-label">CHECK THE PRODUCT CATEGORIES WOULD YOU LIKE TO SELL ON TANDEMARBOR: </label>
                <% Category.order(:title).each do |category| %>
                  <div class="col-lg-4 col-md-6">
                    <div class="checkbox-custom">
                      <%= check_box_tag "vendor[category_ids][]", category.id, nil ,:id => "cat_#{category.id}" %>
                      <label for="cat_<%= category.id %>"><%= category.title.upcase %></label>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="form-group">
                <label for="" class="col-lg-3 col-md-3 control-label text-left">UPLOAD PRODUCT EXAMPLE</label>
                <div class="col-lg-9 col-md-9">
                <%#= f.file_field :sample_photo %>
                  <input type="file" data-iconname="" data-buttonname="btn-danger" data-buttontext="UPLOAD" class="filestyle" id="filestyle-0" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1"><div class="bootstrap-filestyle input-group"><input type="text" class="form-control "> <span class="group-span-filestyle input-group-btn" tabindex="0"><label class="btn btn-upload " for="filestyle-0">UPLOAD</label></span></div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-12 control-label">WHAT CHANNEL DO YOU SELL THROUGH</label>
                <% Channel.order(:title).each do |channel| %>
                  <div class="col-lg-4 col-md-6">
                    <div class="checkbox-custom">
                      <%= check_box_tag "vendor[channel_ids][]", channel.id, nil ,:id => "chnl_#{channel.id}" %>
                      <label for="chnl_<%= channel.id %>"><%= channel.title.upcase %></label>
                    </div>
                  </div>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
          <!-- Start .panel -->
          <div class="panel-heading">
            <h4 class="panel-title">PRODUCT INFORMATION</h4>
            <div class="panel-controls panel-controls-right">
              <a class="panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
              <a class="toggle panel-minimize" href="#"><i class="fa fa-angle-up"></i></a>
              <a class="panel-close" href="#"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body pt0 pb0">
            <div class="form-horizontal group-border stripped">
              <div class="form-group">
                <%= f.label :additional_information, "PLEASE NOTE ANY ADDITIONAL INFORMATION", :class => "control-label col-xs-12" %>
                <div class="col-xs-12">
                  <%= f.text_area :additional_information, :class => "form-control", rows: "10" %>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End .panel -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
          <div class="panel-heading">
            <h4 class="panel-title">CONSENT</h4>
            <div class="panel-controls panel-controls-right">
              <a class="panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
              <a class="toggle panel-minimize" href="#"><i class="fa fa-angle-up"></i></a>
              <a class="panel-close" href="#"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body pt0 pb0">
            <form role="form" class="form-horizontal group-border stripped" id="validate" novalidate="novalidate">
              <div class="form-group">
                <label class="col-xs-12 control-label">BY CLICKING THE "l AGREE" BUTTON. YOU HEREBY REPRESENT AND WARRANT AS FOLLOWS : </label>
                <div class="col-xs-12">
                  <ul>
                    <li>You have reviewed, understand and agree to the terms of the Arbor Gentry Mutual Non-Disclosure Agreement ("NDA"). <a href="/Vendor_Agreement.pdf" target="_blank" class="btn btn-agreement">NON-DISCLOSURE AGREEMENT</a></li>
                    <li>If you are agreeing to the NDA on behalf of a company or other entity, you are legally authorized to bind that entity</li>
                    <li>You understand that agreeing to the NDA and submitting your appiication does not mean that you hove been approved as a Tandem Arbor vendor or that you are committing to do business with Tandem Arbor;</li>
                    <li>If you are selected to become a Tandem Arbor vendor, you will need to review and agree to our separate Tandem Arbor vendor Terms and Conditions. </li>
                  </ul>
                </div>
                <div class="col-xs-12">
                  <div class="checkbox-custom">
                    <input type="checkbox" value="option" id="agree" name="agree">
                    <label for="agree">AGREE</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 m-b-lg"> 
        <!-- <button type="button" class="btn-submit-app">SUBMIT APPLCIATION</button> -->
        <%= f.submit "SUBMIT APPLICATION", :class => "btn-submit-app" %>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.new_vendor').validate({

    });
  });
</script>