<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Edit Vendor</h4>
    </div>
    <%= form_for(@vendor, :remote => true) do |f| %>
      <div class="modal-body">
          <div class="row">
            <% if current_vendor.has_role? :vendor_admin %>
                <div class="form-group">
                  <div class="col-xs-4">
                    Role
                  </div>
                  <div class="col-xs-8">
                    <%= select_tag 'role_id', options_for_select(Role.where(vendor_id: current_vendor.id).collect { |u| [u.name, u.id] }), {:class => 'form-control requires'} %>
                  </div>
                </div>
            <% end %>
            <div class="form-group">
              <div class="col-xs-4">
                Vendor Name
              </div>
              <div class="col-xs-8">
                <%= f.text_field :vendor_name, class: 'form-control', placeholder: 'Vendor Name' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                First Name
              </div>
              <div class="col-xs-8">
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Last Name
              </div>
              <div class="col-xs-8">
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Email
              </div>
              <div class="col-xs-8">
                <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Phone number
              </div>
              <div class="col-xs-8">
                <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone number' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Web site url
              </div>
              <div class="col-xs-8">
                <%= f.text_field :web_site_url, class: 'form-control', placeholder: 'Web site url' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Business Address
              </div>
              <div class="col-xs-8">
                <%= f.text_field :business_address, class: 'form-control', placeholder: 'Business Address' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                City
              </div>
              <div class="col-xs-8">
                <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                State
              </div>
              <div class="col-xs-8">
                <%= f.text_field :state, class: 'form-control', placeholder: 'State' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Country
              </div>
              <div class="col-xs-8">
                <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Zipcode
              </div>
              <div class="col-xs-8">
                <%= f.text_field :zipcode, class: 'form-control', placeholder: 'Zipcode' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-4">
                Additional Information
              </div>
              <div class="col-xs-8">
                <%= f.text_field :additional_information, class: 'form-control', placeholder: 'Additional Information' %>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Update", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>