<tr>
  <td><%= vendor.email %></td>
  <td><%= vendor.phone_number %></td>
  <td><%= vendor.role %></td>
  <td>
  	<%= link_to "Edit", edit_vendor_path(vendor), remote: true %> / 
	<%= link_to "Delete", vendor_path(vendor), method: :delete, data: { confirm: "You sure?" }, remote: true %>
  </td>
</tr>
