<div class="container">
  <%= form_for([:admin, collection]) do |f| %>
    <div>
      <% if @collection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

          <ul>
          <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-3">
            <%= f.label :title %>
          </div>
          <div class="col-xs-4">
            <%= f.text_field :title, class: 'form-control', required: true %>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-3">
            <%= f.label :description %>
          </div>
          <div class="col-xs-4">
            <%= f.text_area :description, class: 'form-control', required: true %>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-3">
            <%= f.label :product %>
          </div>
          <div class="col-xs-4">
          <% Product.find_each do |p| %>
            <label class="li">
            <%= check_box_tag :product_ids, p.id, collection.products.include?(p), :name => 'collection[product_ids][]' %> <u><%= p.name %></u></label><br />
          <% end %>
          </div>
        </div>
      </div><br>
    </div>
    <div>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <% if params[:action] == "new" %>
        <%= f.submit "Create", class: "btn btn-primary"%>
      <% else %>
        <%= f.submit "Update", class: "btn btn-primary"%>
      <% end %>
    </div>
  <% end %>
</div>  