<%= form_for @role do |f| %>
    
    <% controllers_list = [] %>
    <% controllers_current_name = "" %>

    <div id="page-header" class="clearfix">
        <div class="page-header">
          <%= f.submit 'Save', :class => "btn btn-info"%>
          <span class="txt" style="padding-left: 5px">&nbsp;</span>
          <a type="button" class="btn btn-info" href="<%= roles_path %>">Cancel</a>
        </div>        
    </div>

    <div class="row">
      <div class="form-group">
        <div>
          Role Name*:
        </div>
        </br>        
        <div>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Role Name' %>
        </div>
      </div>
    </div>  

    <div class="row">
      
      <div class="form-group">
      
         <div>
            <% if @all_available_permissions_count == 0 %>
                There are no permissions available
            <% else %>
                Permissions allowed:
                &nbsp;&nbsp;
                <a href=# class="all_cb" onclick="set_permission_group_allowed(this, 1)">Select all</a>
                &nbsp;/&nbsp;
                <a href=# class="all_cb" onclick="set_permission_group_allowed(this, 0)">Deselect all</a>
                <% if @has_admin_access %>
                &nbsp;/
                <% end %>
            <% end %>
            <% if @has_admin_access %>
              <%= link_to "Configure", permissions_path %>
            <% end %>
         </div>
         </br>

         <div class="panel panel-default toggle panelMove panelClose panelRefresh">          
              <table class="table table-bordered table-striped table-hover dt-responsive non-responsive" cellspacing="0" width="100%">

                <tbody id="permission-list">
                
                <% Permission.all.each do |permission| %>
                  <%  if @role_available_permissions.include?permission.id %>
                    <%  unless permission.created_at.nil? %>
                      <%  if permission.updated_at.nil? %>
                          <% style_def = "display:none;" %> 
                          <% status_def = true %> 
                          <% class_def = "" %>
                      <%  else %> 
                          <%  pos = permission.name.rindex(" # ") %>
                          <%  unless pos.nil? || (pos == 0) %>
                            <%  n =  permission.name[0, pos] %>
                          <%  else %>
                            <%  n =  permission.name %>
                          <%  end %>
                          <%  if !controllers_list.include?n %>
                              <% controllers_list.push(n) %>
                              <% controllers_current_name = n %>
                              <tr>
                                 <td colspan="2" align="left">
                                   <span style="font-weight: bold;"><%= n %></span>
                                   &nbsp;
                                   <a href=# class="<%= controllers_current_name %>_cb" onclick="set_permission_group_allowed(this, 1)">Select all</a>
                                   &nbsp;/&nbsp;
                                   <a href=# class="<%= controllers_current_name %>_cb" onclick="set_permission_group_allowed(this, 0)">Deselect all</a>
                                 </td>
                              </tr>                            
                          <%  end %>
                          <% style_def = "" %> 
                          <% status_def = @role_permissions.include?(permission.id) %>
                          <% class_def = "#{controllers_current_name}_cb_obj" %>
                      <%  end %>
                      <tr style="<%= style_def %>">
                        <td align="center"><%= check_box_tag "#{permission.id}_cb", permission.id, status_def, :id => "cmt_#{permission.id}", :class => class_def %></td>
                        <td align="left" width="100%"><%= permission.description %></td>
                      </tr>                  
                    <%  end %>
                  <%  end %>
                <%  end %>
                
                </tbody>
              </table>
         </div>
      
      </div>

    </div>

<% end %>