<tr>
  <td><%= role.name %></td>
  <td><%= role.created_at.strftime('%H:%M | %d %b %Y') %></td>

  <% v = Vendor.find(role.vendor_id.to_i) if !(role.vendor_id.nil?) %>
  <% unless v.nil? || v.vendor_name.nil? %>
    <% vn = v.vendor_name.to_s %>
  <% else %>
  	<% vn = "-" %>
  <% end %>
  <td><%= vn %></td>

  <td>
    <%= link_to "Show", role_path(role) %>
    <% if current_vendor.admin? || (current_vendor == role.vendor_creator) %>
			 &nbsp; / &nbsp;
			<%= link_to "Delete", role_path(role), method: :delete, data: {confirm: "Do you want to delete selected role?"}, remote: true %>
	<% end %>
  </td>
</tr>
