<hr>
<div class="fields">
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :option_type %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
    <div class="col-xs-1">
    	<%= link_to_remove_fields "remove", f %>
		</div>
  </div>
	<%= f.fields_for :option_values do |opt_val| %>
	  <%= render 'option_value_fields', :f => opt_val %>
	  <%#= f.link_to_add "Add a option value", :option_values %>
	<% end %>
	<div>
	<p><%= link_to_add_fields "Add Value", f, :option_values %></p>
	</div>
</div><br>