<hr>
<div class="fields">
  <div class="form-group">
    <div class="col-xs-3">
      <%= f.label :option_type ,:style=>"margin-left:-15px;"%>
    </div>
    <div class="col-xs-4 change_size">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
    <div class="col-xs-5">
    	<%= link_to_remove_fields "remove", f %>
		</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  	<%= f.fields_for :option_values do |opt_val| %>
  	  <%= render 'option_value_fields', :f => opt_val %>
  	  <%#= f.link_to_add "Add a option value", :option_values %>
  	<% end %>
    </div>
  </div>
</div><br>
	<div class="row">
  <div class="col-xs-12">
    
	<p><%= link_to_add_fields "Add Value", f, :option_values %></p>
  </div>
	</div>

<style>
.change_size{
  padding-right: 12px!important;
  padding-left: 7px!important;
}
</style>