<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
  <!-- Start .sidebar-inner -->
  <div class="sidebar-inner">
    <!-- Start .sidebar-scrollarea -->
    <div class="sidebar-scrollarea">
      <!--  .sidebar-panel -->
      <div class="sidebar-panel">
        <h5 class="sidebar-panel-title">Profile</h5>
      </div>
      <!-- / .sidebar-panel -->
      <div class="user-info clearfix">
        <img src="/assets/avatars/128.jpg" alt="avatar">
        <span class="name">SuggeElson</span>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs"><i class="l-basic-gear"></i>
          </button>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">settings
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu right" role="menu">
            <!--  <li><a href="<%#= edit_vendor_registration_path(current_vendor) %>"><i class="fa fa-edit"></i>Edit profile</a> -->

            <li><%= link_to edit_vendor_registration_path do %>
                  <i class="fa fa-edit"></i>Edit profile
              <% end %>
            </li>
            <li><a href="#"><i class="fa fa-money"></i>Windraws</a>
            </li>
            <li><a href="#"><i class="fa fa-credit-card"></i>Deposits</a>
            </li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!--  .sidebar-panel -->
      <div class="sidebar-panel">
        <h5 class="sidebar-panel-title">Navigation</h5>
      </div>
      <!-- / .sidebar-panel -->
      <!-- .side-nav -->
      <div class="side-nav">
        <ul class="nav">
          <li>
            <%= link_to authenticated_root_path do %>
                <i class="l-basic-laptop"></i>
                <span class="txt">Dashboard</span>
            <% end %>
          </li>
          <% if current_vendor.vendor_admin? %>
              <li>
                <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Vendors</span></a>
                <ul class="sub">
                  <li>
                    <%= link_to('All vendors', vendors_path)%></li>
                  <li><a href="#"><span class="txt">New Vendor</span></a></li>
                </ul>
              </li>
          <% end %>
          <li>
            <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Charts</span></a>
            <ul class="sub">
              <li><%= link_to('Flot charts', flot_charts_path) %></li>
              <li><%= link_to('Morris charts', morris_charts_path) %></li>
              <li><%= link_to('Chartjs', chart_js_path) %></li>
              <li><%= link_to('Other charts', other_charts_path) %></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="l-basic-webpage-txt"></i><span class="txt">Forms</span></a>
            <ul class="sub">
              <li><%= link_to('Basic forms', basic_forms_path) %></li>
              <li><%= link_to('Advanced forms', advanced_forms_path) %></li>
              <li><%= link_to('Form layouts', form_layouts_path) %></li>
              <li><%= link_to('Form wizard', form_wizard_path) %></li>
              <li><%= link_to('Form validation', form_validation_path) %></li>
              <li><%= link_to('Code Editor', code_editor_path) %></li>
              <!--<li><%#= link_to("Inquiries", admin_inquiries_path) %></li>-->
            </ul>
          </li>
          <li>
            <a href="#"><i class="l-software-layout-header-3columns"></i><span class="txt">Tables</span></a>
            <ul class="sub">
              <li><%= link_to('Basic tables', basic_tables_path) %></li>
              <li><%= link_to('Data tables', data_tables_path) %></li>
              <li><%= link_to('Editable tables', editable_tables_path) %></li>
              <li><%= link_to('Ajax tables', ajax_tables_path) %></li>
              <li><%= link_to('Pricing tables', pricing_tables_path) %></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="l-software-layers2"></i><span class="txt">UI Elements</span></a>
            <ul class="sub">
              <li><%= link_to('Icons', icons_path) %></li>
              <li><%= link_to('Typography', typography_path) %></li>
              <li><%= link_to('Tabs', tabs_path) %></li>
              <li><%= link_to('Accordions', accordions_path) %></li>
              <li><%= link_to('Buttons', buttons_path) %></li>
              <li><%= link_to('Notifications', notifications_path) %></li>
              <li><%= link_to('Modals', modals_path) %></li>
              <li><%= link_to('Sliders', sliders_path) %></li>
              <li><%= link_to('Progressbars', progressbar_path) %></li>
              <li><%= link_to('Lists', lists_path) %></li>
              <li><%= link_to('Grid', grid_path) %></li>
              <li><%= link_to('Other', other_path) %></li>
            </ul>
          </li>
          <li>
            <%= link_to portlets_path do %>
                <i class="l-software-layout-header"></i>
                <span class="txt">Portlets</span>
                <span class="label">22</span>
            <% end %>
          </li>
          <li>
            <a href="#"><i class="l-basic-mail"></i> <span class="txt">Email</span></a>
            <ul class="sub">
              <% if @config_emails.nil? %>
                  <li><%= link_to 'Connect to email', new_config_email_path, class: 'txt' %></li>
                  <li><%= link_to 'Inbox', inbox_path, class: 'txt' %></li>
                  <li><%= link_to 'Read email', read_emails_path, class: 'txt' %></li>
                  <li><%= link_to 'Write email', write_emails_path, class: 'txt' %></li>
              <% else %>
                  <li><%= link_to 'Show Config Email', config_email_path(@config_emails), class: 'txt' %></li>
                  <li><%= link_to 'Inbox', inbox_path, class: 'txt' %></li>
                  <li><%= link_to 'Read email', read_emails_path, class: 'txt' %></li>
                  <li><%= link_to 'Write email', write_emails_path, class: 'txt' %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <a href="#"><i class="l-basic-geolocalize-01"></i><span class="txt">Maps</span></a>
            <ul class="sub">
              <li><%= link_to('Google maps', google_maps_path) %></li>
              <li><%= link_to('Vector maps', vector_maps_path) %></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="l-basic-webpage"></i><span class="txt">Pages</span></a>
            <ul class="sub">
              <li><%= link_to('Login', login_path) %></li>
              <li><%= link_to('Lock screen', lock_screen_path) %></li>
              <li><%= link_to('Register', register_path) %></li>
              <li><%= link_to('Lost password', lost_password_path) %></li>
              <li><%= link_to('User profile', user_profile_path) %></li>
              <li><%= link_to('Calendar', calendar_path) %></li>
              <li><%= link_to('Timeline', time_line_path) %></li>
              <li><%= link_to('Gallery', gallery_path) %></li>
              <li><%= link_to('Invoice', invoice_path) %></li>
              <li><%= link_to('Blank page', blank_page_path) %></li>
              <li>
                <a href="#"><span class="txt">Error pages</span></a>
                <ul class="sub">
                  <li><a href="403.html"><span class="txt">403</span></a></li>
                  <li><a href="404.htm"><span class="txt">404</span></a></li>
                  <li><a href="500.htm"><span class="txt">500</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- / side-nav -->
      <!--  .sidebar-panel -->
      <div class="sidebar-panel">
        <h5 class="sidebar-panel-title">Server stats</h5>

        <div class="sidebar-panel-content">
          <div class="sidebar-stat mb10">
            <p class="color-white mb5 mt5"><i class="fa fa-hdd-o mr5"></i> Disk Space
              <span class="pull-right small">30%</span></p>

            <div class="progress flat transparent progress-bar-xs">
              <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
            </div>
            <span class="dib s12 mt5 per100 text-center">3001.56 / 10000 MB</span>
          </div>
          <div class="sidebar-stat">
            <p class="color-white mb5 mt5"><i class="glyphicon glyphicon-transfer mr5"></i> Bandwidth Transfer
              <span class="pull-right small">78%</span></p>

            <div class="progress flat transparent progress-bar-xs">
              <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
            </div>
            <span class="dib s12 mb10 mt5 per100 text-center">87565.12 / 120000 MB</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End .sidebar-scrollarea -->
  </div>
  <!-- End .sidebar-inner -->
</aside>