<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Dashboard | Dynamic Admin Template</title>
  <!--<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  <!--<link rel="icon" href="ico/favicon.ico" type="image/png">-->
  <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
  <!-- Mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
  <!-- Force IE9 to render in normal mode -->
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="application-name" content="" />
</head>
<body>

<div id="wrapper">
  <!-- .page-sidebar -->
  <%= render "layouts/left_side_bar" %>
  <!-- / page-sidebar -->
  <!-- Start #right-sidebar -->
  <%= render "layouts/right_side_bar" %>
  <div id="error-msg">
    <% if flash.present? %>
        <%= render 'layouts/messages' %>
    <% end %>
  </div>
  <%= render "layouts/header" %>
  <%= yield %>
  <%= render "layouts/footer" %>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
</div>
</body>
</html>
