<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title>H-Code | Responsive & Multi-Purpose One/Multi Page Template</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="H-Code - A premium portfolio template from ThemeZaa">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="author" content="ThemeZaa">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
  <!-- favicon -->
  <link rel="shortcut icon" href="/assets/shop_images/favicon.png">
  <link rel="apple-touch-icon" href="/assets/shop_images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/shop_images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/shop_images/apple-touch-icon-114x114.png">
</head>
<body>
<!--<div id="error-msg">-->

<!--<%# if params[:action] != "thank_you" %>-->
<!--<%#= render "layouts/home_header"%>-->
<!--<%# end %>-->
<!--<%# if flash.present? %>-->
<!--<%#= render 'layouts/messages' %>-->
<!--<%# end %>-->
<!--</div>-->
<!--<%#= yield %>-->
<!--<%# if params[:action] != "thank_you" %>-->
<!--<%#= render "layouts/home_footer" %>-->
<!--<%# end %>-->
<!--<div id="wrapper">-->
<div id="error-msg">
  <% if flash.present? %>
      <%= render 'layouts/messages' %>
  <% end %>
</div>
<%= render "layouts/home_header" %>
<%= yield %>
<%= render "layouts/home_footer" %>
<!--</div>-->
</body>
</html>
