<!DOCTYPE html>
<html>
<head>
  <title>home | welcome</title>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'home', media: 'all' %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/ico/apple-touch-icon-57-precomposed.png">
  <link rel="icon" href="img/ico/favicon.ico" type="image/png">
</head>
<body>
<div id="error-msg">
<%= render "layouts/home_header"%>
  <% if flash.present? %>
    <%#= render 'layouts/messages' %>
  <% end %>
</div>
<%= yield %>
<%= render "layouts/home_footer" %>
</body>
</html>
